<div id="<%= dom_id production %>">
  <p>
    <strong>Name:</strong>
    <%= production.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= production.category %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= production.price %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= production.comment %>
  </p>

</div>
