<!--- <h1>テストアプリ</h1> --->
<h2>新着の食材一覧</h2>
<body>
    <div class="board">
    <% cnt = 0 %>
    <% @productions.each do |production| %>
        <% cnt += 1 %>
        <% if cnt == 9 %>
            <% break %>
        <% end %>
        <div class="box">
        食材名: <%= production.name %><br>
        カテゴリ: <%= production.category %><br>
        値段: <%= production.price %><br>
        コメント: <%= production.comment %><br>
        </div>
    <% end %>
    </div>

    <%= link_to "新規作成", new_production_path %>
</body>
